<%= form_for(@product_type) do |f| %>
  <%= render "layouts/forms/errors", object: @product_type %>

  <div class="field">
    <%= f.select(:category, ProductType.categories, { include_blank: '' }) %>
    <button class="add_category" type="button">Add a new category</button>
  </div>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <%= render "layouts/forms/custom_fields", object: @product_type, f: f %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
