<div class="trash_form">
  <% if flash[:error] %>
    <p id="notice"><%= flash[:error] %></p>
  <% end %>
  <%= form_for(:session, url: sessions_path) do |f| %>
    <fieldset>
      <legend>Please Log In</legend>
      
      <div>
        <%= f.label :name %>
        <%= f.text_field :name %>
      </div>
      <div>
        <%= f.label :password%>
        <%= f.password_field :password %>
      </div>
      <div>
        <%= f.submit "Login" %>
      </div>
    </fieldset>
  <% end %>
</div>