<fieldset>
	<h4><%= f.object.name %></h4>
  <%= f.hidden_field :fieldable_id %>
  <%= f.hidden_field :fieldable_type %>
	<%= f.select :field_type, %w[text_field check_box text_area] %>
	<%= f.text_field :name, placeholder: "field_name" %>
	<%= f.check_box :required, options: { "checked" => :required } %><%= f.label :required %>
	<%= f.check_box :catalogue, options: { "checked" => :catalogue } %><%= f.label :catalogue %>
	<%= f.check_box :custom_shop, options: { "checked" => :custom_shop } %><%= f.label :custom_shop %>
	<%= f.check_box :in_stock, options: { "checked" => :in_stock } %><%= f.label :in_stock %>
	<%= link_to "[remove]", f.object, method: :delete, remote: true, class: "remove_fields" %>
</fieldset>