<%= form_for(@custom_field) do |f| %>
  <% if @custom_field.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@custom_field.errors.count, "error") %> prohibited this custom_field from being saved:</h2>

      <ul>
      <% @custom_field.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :fieldable_id %>
  <h2><%= @custom_field.fieldable_type %></h2>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :field_type %><br>
    <%= f.text_field :field_type %>
  </div>
  <div class="field">
    <%= f.label :required %><br>
    <%= f.check_box :required %>
  </div>
  <div class="field">
    <%= f.label :show_public %><br>
    <%= f.check_box :show_public %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>

  <%= f.fields_for :custom_fields do |builder| %>
    <%= render 'fields', f: builder %>
  <% end %>
  <%= link_to_add_fields "Add Field", f, :fields %><br>

<% end %>
