<%= form_tag update_multiple_custom_fields_path, method: :put do %>
	<% @custom_fields.each do |field| %>
		<%= render partial: "layouts/forms/errors", locals: {object: field} %>
		
		<%= fields_for "custom_fields[]", field do |builder| %>

    	<%= render 'fields', f: builder %>
		<% end %>
	<% end %>

	<%= fields_for "custom_fields[]" do |builder| %>
		<%= link_to_add_fields "Add Field", @parent %> 
	<% end %>

	<%= hidden_field_tag :parent_url, edit_parent_path(@parent) %>

	<div class="actions">
	  <%= submit_tag "Update" %>
	</div>

<% end %>