<p id="notice"><%= notice %></p>

<p>
  <strong>Field for:</strong>
  <%= @custom_field.fieldable_type %>
</p>

<p>
  <strong>Name:</strong>
  <%= @custom_field.name %>
</p>

<p>
  <strong>Field type:</strong>
  <%= @custom_field.field_type %>
</p>

<p>
  <strong>Required?:</strong>
  <%= @custom_field.required %>
</p>

<p>
  <strong>Show Public?:</strong>
  <%= @custom_field.show_public %>
</p>

<%= link_to 'Edit', edit_custom_field_path(@custom_field) %> |
<%= link_to 'Back', custom_fields_path %>
