<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @product_model.name %>
</p>

<p>
  <strong>Price:</strong>
  <%= @product_model.price %>
</p>

<p>
  <strong>Desc:</strong>
  <%= @product_model.desc %>
</p>

<p>
  <strong>Item type:</strong>
  <%= @product_model.product_type.name %>
</p>

<p>
  <strong>Options</strong>
  <%= @product_model.product_option_ids %>
</p>

<%= link_to 'Edit', edit_product_model_path(@product_model) %> |
<%= link_to 'Back', product_models_path %>
