<body style>
	<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#">Trash Messenger Bags</a>
			</div>
			<div class="navbar-collapse collapse">
				<%= render 'layouts/admin/navigation' %>
			</div>
		</div>
	</div>
	<div class="container-fluid">
		<div class="row">
			<div class="sidebar-admin col-sm-3 col-md-2">
				<%= render 'layouts/admin/sidebar' %>
			</div>
			<div class="col-sm-9 col-md-10 main-admin">
				<%= render 'layouts/admin/dashboard' %>
				<%= render 'layouts/messages' %>
				<%= yield %>
			</div>
		</div>
	</div>
</body>