<ul class="nav nav-sidebar-admin">
	<li><%= link_to 'Orders', products_path %></li>
	<li><%= link_to 'Inventory', products_path %></li>
	<li><%= link_to 'Vendors', products_path %></li>
	<li><%= link_to 'Payments', products_path %></li>
</ul>
<ul class="nav nav-sidebar-admin">
 	<li><%= link_to 'Product Categories', product_categories_path %></li>
	<li><%= link_to 'Products', products_path %></li>
 	<li><%= link_to 'Images', images_path %></li>
</ul>
<ul class="nav nav-sidebar-admin">
	<li><%= link_to 'Reports', products_path %></li>
	<li><%= link_to 'Analytics', products_path %></li>
</ul>