<%= form_for @custom_item, remote: true do |f| %>
  <% if @custom_item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@custom_item.errors.count, "error") %> prohibited this custom_item from being saved:</h2>

      <ul>
      <% @custom_item.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="custom_product">
    <%= render 'category_form' %>
    <%= render 'type_form' %>
    <%= render 'model_form' %>
    <div class="submit">
      <%= f.submit %>
    </div>
  </div>
<% end %>
