<%= form_for @custom_item, url: wizard_path do |f| %>
  <% if @custom_item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@custom_item.errors.count, "error") %> prohibited this custom_item from being saved:</h2>

      <ul>
      <% @custom_item.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="custom_products">
    
		<div class="type" >
		  Select a product type.<br>
		  <%= collection_radio_buttons(:custom_item, :product_type_id, ProductType.where(category: @custom_item.category), :id, :name) %>
		</div>

  
    <div class="actions">
      <%= f.submit %>
    </div>
  </div>
<% end %>
