<%= form_for setup_image_upload(@product) do |f| %>
  <%= render "layouts/forms/errors", object: @product %>

  <%= f.hidden_field :product_type_id %>
  <h2><%= @product.product_type.name.singularize %></h2>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :price %>
    <%= f.text_field :price %>
  </div>

  <%= render "layouts/forms/custom_fields", object: @product, f: f %>

  <% @option_types.each do |type| %> 
    <%= type.name.singularize %><input class="option-type-selectall" id="<%=type.id%>" type="checkbox"><br>
    <%= f.collection_check_boxes(:option_ids, type.options, :id, :name, options = {"checked" => :option_ids}, html = { class: "option-checkboxes option-".concat(type.id.to_s) }) %><br>
  <% end %>

  <div class="field">
    Images for this product<br>
    <%= f.fields_for :images, :html => { multipart: true } do |ff| %>
      <%= ff.label :title %>
      <%= ff.text_field :title %>
      <% if ff.object.new_record? %>
        <%= ff.label :image_data %>
        <%= ff.file_field :image_data %><br>
      <% end %>
      <% if ff.object.persisted? %>
        <%= image_tag ff.object.image_data_url(:thumb).to_s %>
        <%= ff.check_box(:_destroy) + ff.label(:_destroy, 'Remove') %><br>
      <% end %>
    <% end %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
