<%= form_for setup_image_upload(@product) do |f| %>
  <% if @product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% @product.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :price %><br>
    <%= f.text_field :price %>
  </div>
  <div class="field">
    <%= f.label :desc %><br>
    <%= f.text_field :desc %>
  </div>
  <div class="field">
    <%= f.collection_select( :product_category_id, ProductCategory.all, :id, :name, { include_blank: 'Category' } ) %>
    <%= link_to "New Product Category", new_product_category_path %>
  </div>
  <div class="field">
    Images for this product<br>
    <%= f.fields_for :images, :html => { multipart: true } do |ff| %>
      <%= ff.label :title %>
      <%= ff.text_field :title %><br>
      <% if ff.object.new_record? %>
        <%= ff.label :image_data %>
        <%= ff.file_field :image_data %><br>
      <% end %>
      <% if ff.object.persisted? %>
        <%= image_tag ff.object.image_data_url(:thumb).to_s %>
        <%= ff.check_box(:_destroy) + ff.label(:_destroy, 'Remove') %><br>
      <% end %>
      Image galleries to include this image in: <br>
      <%= ff.collection_check_boxes(:gallery_ids, Gallery.all, :id, :name, options = {"checked" => :gallery_ids}) %><br>
    <% end %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
