<h2>Product Models</h2>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Price</th>
      <th>Desc</th>
      <th>Type</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @products[:models].each do |model| %>
      <tr>
        <td><%= model.name %></td>
        <td><%= model.price %></td>
        <td><%= model.desc %></td>
        <td><%= model.product_type.name %></td>
        <td><%= link_to 'Show', model %></td>
        <td><%= link_to 'Edit', edit_product_model_path(model) %></td>
        <td><%= link_to 'Destroy', model, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>