<h2>Product Options</h2>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Product model</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% ProductOption.all.each do |option| %>
      <tr>
        <td><%= option.name %></td>
        <td><%= option.products %>
        <td><%= link_to 'Show', option %></td>
        <td><%= link_to 'Edit', edit_product_option_path(option) %></td>
        <td><%= link_to 'Destroy', option, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>