<h2>Product Types</h2>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Price</th>
      <th>Desc</th>
      <th>Available models</th>
      <th>Category</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @products[:types].each do |type| %>
      <tr>
        <td><%= type.name %></td>
        <td><%= type.price %></td>
        <td><%= type.desc %></td>
        <td><%= type.type_models %></td>
        <td><%= type.product_category.name %></td>
        <td><%= link_to 'Show', type %></td>
        <td><%= link_to 'Edit', edit_product_type_path(type) %></td>
        <td><%= link_to 'Destroy', type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>