<%= render "store/store_nav" %>
<div class="sidebar-catalogue">
	<%= render "store/sidebar_nav" %>
</div>
<div class="col-catalogue">

	<div class="store-section">
		<% @products.each do |section, categories| %>
			
			<% categories.each do |category| %>

				<% category.products.each do |product| %>
					<div class="col-store-item category-<%= category.id %> section-<%= section %>">
								
						<div class="thumbnail-store">
							<%= image_tag product.catalogue_image, alt: "Missing image" %>
							<h4><%= product.name %></h4>
							<p><%= product.desc %></p>
						</div>

					</div>		
				<% end %>
					
			<% end %>
			
		<% end %>
	</div>

</div>	

