<%= render "store/store_nav" %>
<div class="col-store">
	<div class="row">
		<h1>Catalogue</h1>
	</div>

	<div class="store-section">
		<% @products.each do |section, categories| %>
			<div class="store-section">
				<h2><%= section %></h2>
			
				<% categories.each do |category| %>
					<div class="store-section">
					<h3><%= category.name %></h3>

						<% category.products.each do |product| %>
							<div class="col-store-item">
								
								<div class="thumbnail-store">
									<%= image_tag product.catalogue_image, alt: "Missing image" %>
									<h4><%= product.name %></h4>
									<p><%= product.desc %></p>
								</div>

							</div>		
						<% end %>
					
					</div>
				<% end %>
			
			</div>
		<% end %>
	</div>

</div>		

