<%= render "store/store_nav" %>
<div class="col-xs-4 col-sm-3 col-md-2 sidebar-catalogue">
	<%= render "store/sidebar_nav" %>
</div>
<% @categories.each do |section| %>
	<div class="col-xs-8 col-sm-9 col-md-10">
			
		<% @products.where(category: section).each do |category| %>

			<div class="store-item category-<%= category.id %> col-xs-12 col-sm-12 col-md-5">
				<div class="carousel slide catalogue-carousel" data-ride="carousel" id="carousel-<%= category.id %>">
					
				  <div class="carousel-inner">
				  	<% category.gallery.images.each_with_index do |image, index| %>
					    <div class="carousel-img item<% if index == 0 %> active<% end %>">
					      <img src="<%= image.image_data_url %>" alt="loading <%= index %>">
					    </div>
					  <% end %>
				  </div>
				
				  <ol class="carousel-indicators catalogue-indicators">
				  	<% category.gallery.images.each_with_index do |image, index| %>
				    	<li data-target="#carousel-<%= category.id %>" data-slide-to="<%= index %>" <% if index == 0 %>class="active" <% end %>>
					      <img src="<%= image.image_data_url %>" alt="loading <%= index %>" width="100" height="100">
				    	</li>
				    <% end %>
				  </ol>

				</div>
			</div>

			<div class="store-item store-details category-<%= category.id %> col-xs-12 col-sm-12 col-md-7">
				<div class="panel-group">
					<% category.products.each do |product| %>
						<div class="panel panel-default">
							<div class="panel heading">
								<h2><%= product.name %></h2>
							</div>
							<p><%= product.desc %></p>
						</div>		
					<% end %>
				</div>
			</div>

		<% end %>

	</div>			
<% end %>