<div class="image_edit">
  <%= form_for @image, html: { multipart: true } do |f| %>
  <%= render "layouts/forms/errors", object: @image %>

    <div class="field">
      <%= f.label :name %>
      <%= f.text_field :name %><br>
      <%= f.label :desc %>
      <%= f.text_field :desc %><br>
      <%= f.label :title %>
      <%= f.text_field :title %><br>
      <% if f.object.new_record? %>
        <%= f.label :image_data %><br>
      <% else %>
        <%= image_tag f.object.image_data_url(:thumb).to_s %>
      <% end %><br>
      <%= f.file_field :image_data %><br>
      Galleries to include this image in:<br>
      <%= f.collection_check_boxes(:gallery_ids, Gallery.all, :id, :name, options = {"checked" => :gallery_ids}) %><br>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
  <% end %>
</div>