<% if !@image.errors.empty? %>
	<div class="alert alert-error">
		<ul>
			<% @image.errors.full_messages.each do |msg| %>
				<li><%= msg %></li>
			<% end %>
		</ul>
	</div>
<% end %>

<div class="new_image">
	<%= form_for @image, html: { multipart: true } do |f| %>
		<%= f.label :title %>
		<%= f.text_field :title %>
		<%= f.label :image_data %>
		<%= f.file_field :image_data %>
		<%= f.submit "Save", class: "btm btm-primary" %>
	<% end %>
</div>
