<li><%= link_to 'Home', home_path, class: "nav-link-main" %></li>
<li><%= link_to 'Store', store_path, class: "nav-link-main" %></li>
<li><%= link_to 'Gallery', gallery_path, class: "nav-link-main" %></li>
<li><%= link_to 'Blog', blog_path, class: "nav-link-main"  %></li>
<li><%= link_to 'Sign in', adminsignin_path, class: "nav-link-main" %></li>