<!DOCTYPE html>
<html>
<head>
  <title>Trashmessengerbags</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <h1>Trash Messenger Bags</h1>
  <ul>
    <li><%= link_to 'Products', products_path %></li>
    <li><%= link_to 'Product Categories', product_categories_path %></li>
    <li><%= link_to 'Product Types', product_types_path %></li>
    <li><%= link_to 'Product Models', product_models_path %></li>
  </ul>
</head>
<body>

<%= yield %>

</body>
</html>
