<!DOCTYPE html>
<html>
<head>
  <title>Trashmessengerbags <%= yield(:title) %></title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <h1><%= image_tag "trashlogo-header.jpg", alt: "Trash Messenger Bags", class: "header_logo" %></h1>
  <ul>
    <li><%= link_to 'Custom items', custom_items_path %></li>
    <% if signed_in? %>
      <li><%= link_to 'Products', products_path %></li>
      <li><%= link_to 'Sign out', adminsignout_path, method: 'delete' %></li>
    <% else %>
      <li><%= link_to 'Sign in', adminsignin_path %></li>
    <% end %>
  </ul>
</head>
<body class='<%= controller.controller_name %>' >

<%= yield %>

</body>
</html>
