<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Trashmessengerbags" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Trashmessengerbags" %>">
    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <%= csrf_meta_tags %>
  </head>
  <div><%= image_tag "brick.jpg", id: "bg-img" %></div>
  <% if signed_in? %>
    <%= render 'layouts/admin/admin' %>
  <% else %>
    <body>
      <div id="wrap">
        <header class="container">
          <div class="row">
            <h1>
              <%= image_tag "trashlogo-header.jpg", alt: "Trash Messenger Bags", class: "header_logo" %>
            </h1>
          </div>
          <%= render 'layouts/navigation' %>
        </header>
        <main role="main">
          <%= render 'layouts/messages' %>
          <%= yield %>
        </main>
      </div>
      <footer class="container">
        <%= render 'layouts/footer' %>
      </footer>
    </body>
  <% end %>
</html>